body {
  background-color:red;
}

h1 {
  color:White;
  font-size:24px;
  font-family:Arial, helvetica, sans-serif;
}

.header {
  background-color:black;
  padding-left:1px
}

.footer{
  color:white;
  background-color:black;
}
